<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project1</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <center>
    <div class="container body-content">
        @RenderBody()
    </div>
    </center>
        
        
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
